html, body {
  background: -webkit-linear-gradient(330deg, #17bebb, #f0a6ca);
  background: linear-gradient(120deg, #17bebb, #f0a6ca);
    height:100vh;
}
.no-paading {
    padding: 0;
    margin:0;
}
.text-white {
    color: #fff;
}
.width50 {
    width: 50px;
}

.chatbox {
    background: rgba(255, 255, 255, 0.05);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    height: 70vh;
    position: relative;
}
.messages-holder {
    height: 70vh;
    overflow: auto;
}

.messages {
    background: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 70vh;
    overflow: auto;

}
.messages h3 {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px 0;
    font-size: 20px;
    margin:0;
}
.user_msg {
    background: rgba(255, 255, 255, 0.2);
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.user_msg .media .media-heading {
    font-size: 16px;
    color: #fff;
}
.user_msg .media .media-body p {
    font-size: 12px;
    color: #eee;
}
.send_msg {
    background: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}
.send_msg input {
    padding: 10px !important;
    box-shadow: none !important;
    border: 0 !important;
}
